<table class="table">
  <tr>
    <td> <h1> Producto </h1></td>
    <td><h1> Precio </h1></td>
  </tr>
  <% @raffles.each do |raffle| %>
  <tr>
    <td><%= raffle.product.name %></td>
    <td>  <%= raffle.product.price %></td>
    <!-- <td class="btn btn-danger">Delete</td> -->
    <td> Eliminar </td>
  </tr>
  <% end %>
  <tr>
    <td> <h4>Total: </h4></td>
    <td> <h4> <%= @raffles.map {|raffle| raffle.product.price}.sum %></h4></td>
  </tr>
</table>
